/* some style */

body {
  background-color: #000057;
  font-family: sans-serif;
  color: white;
}

h1 {
  color: #DF0101;
  font-size: 48pt;
}

h3 {
  color: #DF0101;
  font-size: 36pt;
}

p {
  font-size: 30pt;
}

.container {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}

.slide {
  display: table-cell;
  vertical-align: middle;
}

.content {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}

ul li {
  font-size: 24pt;
  padding: 5px;
}

.codebox {
  width: 750px;
  background-color: black;
}

.codebox code {
  font-family: "Courier New";
  font-size: 14pt;
  color: yellow;
}

.borebox {
  width: 750px;
  background-color: black;
}

.borebox code {
  font-family: "Courier New";
  font-size: 14pt;
  color: lightgray;
}

button {
  width: 150px;
  height: 70px;
  opacity: 0.7;
  border-radius: 30px;
  font-family: Arial;
  font-size: 18pt;
}
